<nav class="">
  <!-- <header>
    <a routerLink="/dashboard" class="navbar-brand">
      <img src="../../assets/lol.png" alt="" />
    </a>
  </header> -->
  <div class="menu-bar">
    <header>
      <div class="toolbar">
        <div class="image" >
          <img src="../assets/images/ok.png" alt="" />
        </div>
      </div>
    </header>
    <div class="menu">
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/dashboard">
          <i class="bx bxs-home icon"></i>
          <span class="text nav-text">Accueil</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/evenement">
          <i class="bx bx-calendar-event icon"></i>

          <span class="text nav-text">Evenement</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/salle">
          <i class="bx bx-door-open icon"></i>

          <span class="text nav-text">Salles</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/user">
          <i class="bx bx-user-plus icon"></i>
          <span class="text nav-text">Compte utilisateur</span>
        </a>
      </li>
      <!-- <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/utilisateur">
          <i class="bx bxs-user-circle icon"></i>
          <span class="text nav-text">Utilisateurs</span>
        </a>
      </li> -->
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/budget">
          <i class="bx bx-dollar-circle icon"></i>

          <span class="text nav-text">budget</span>
        </a>
      </li>
    </div>
  </div>
</nav>
