<header>
  <div class="toolbar">
    <h1>Details de L'événement</h1>
    <div class="buttons">
          

    </div>
  </div>
</header>

  <!-- <table  class="table">
    <tr>
      <td rowspan="6"><img [src]="evenementSelectionne.image" class="top" alt="..."/></td>
      <td class="o">Nom de l'événement:</td>
      <td>{{ evenementSelectionne.nomEvenement }}</td>
    </tr>
    <tr>
      <td class="o">Description:</td>
      <td>{{ evenementSelectionne.description }}</td>
    </tr>
    <tr>
      <td class="o">Lieu:</td>
      <td>{{ evenementSelectionne.lieu }}</td>
    </tr>
    <tr>
      <td class="o">Type:</td>
      <td>{{ evenementSelectionne.typeEvenement }}</td>
    </tr>
    <tr>
      <td class="o">Date début:</td>
      <td>{{ evenementSelectionne.datedebut }}</td>
    </tr>
    <tr>
      <td class="o">Date fin:</td>
      <td>{{ evenementSelectionne.datefin }}</td>
    </tr>
  </table>
  <div class="icongroup">
    <i class="fas fa-trash"></i>
    <i class="fas fa-edit"></i>
  </div>
  <div style="height: 25vh"></div> -->



  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nom de l'événement:</th>
      <th scope="col">Description</th>
      <th scope="col">Lieu</th>
      <th scope="col">Type</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nomEvenement}}</td>
      <td>{{description}}</td>
      <td>{{lieu}}</td>

      <td>{{typeEvenement}}</td>
      <td>{{datedebut}}</td>
      <td>{{datefin}}</td>
    </tr>
   
  </tbody>
</table>