<div class="container-fluid " style="overflow:hidden
">
<div class="row flex-nowrap">
   

   <div
      id="sidebar"
      *ngIf="menuBureau"
      class="col-auto sidebar collapse collapse-horizontal show"
      style="height: 100vh"
    >
      <app-menu></app-menu>
    </div>
 <!-- <div class="d-flex justify-content-end w-100">
            <app-navbar></app-navbar>
          </div> -->


<main class="col" style="height: 100vh; overflow: scroll; overflow-x: hidden;">

  <nav
        class="bg-danger navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0"
      >
        <h1 style="width: 20px"></h1>
        <a
          href="#"
          class="sidebar-toggler flex-shrink-0"
          data-bs-toggle="collapse"
          data-bs-target="#sidebar"
          aria-expanded="false"
          (click)="afficheMenuMobile()"
          aria-controls="collapseWidthExample"
        >
          <i class="fa fa-bars"></i>
        </a>

        <div class="d-flex justify-content-end w-100">
          <app-navbar></app-navbar>
        </div>
      </nav>


<!--           
  <div class="image">
    <img src="../assets/IMAGE/ok.png" alt="" />
  </div> -->
  <h1>Liste des salles</h1>


<div class="container">
  <button class="butonevents" (click)="opennotif()">Ajouter une salle</button>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Libellé</th>
        <th>Description</th>
        <th>Nombre de place</th>
        <th>Etage</th>
        <th>Numéro</th>
        <th>Disponibilité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salle of mesSalles">
        <td><img src="{{ salle.image }}" alt="Salle" /></td>
        <td>{{ salle.libelle }}</td>
        <td>{{ salle.description }}</td>
        <td>{{ salle.nombreplace }}</td>
        <td>{{ salle.etage }}</td>
        <td>{{ salle.numero }}</td>
        <td>
          <span *ngIf="salle.disponibilite === true" class="available"
            >Disponible</span
          >
          <span *ngIf="salle.disponibilite === false" class="not-available"
            >Non disponible</span
          >
        </td>
        <td>
          <button class="icon" (click)="supprimer(salle.id)">
            <i class="fa fa-trash"></i>
          </button>
          <button class="icon">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </main>
  </div>
    
</div>
 <app-footer>
</app-footer>
