/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif
}

.cards{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 2px;
}
.carde{
    padding: 5px;
    background-color: #D9D9D9;
}

.modal-content {
    padding: 20px;
}

.btn-primary { 
  border-radius: 20px;
  padding: 10px;
  background-color:#FF6600 ;
  color: white;
  border: 1px solid #FF6600;
  }